<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Офис-менеджер</title>
    <link rel="stylesheet" type="text/css" href="../assets/css/main/main.css"/>
</head>
<body>
<div class="container">
    <header>
        <div class="top-buttons">
            {{if ($user)}}
            <span class="user-label">Здравствуйте, {{ user->getFirstname() }}</span>
            <a href="/profile" class="btn-nav">Личный кабинет</a>
            <a href="/logout" class="btn-nav">Выйти</a>
            {{else}}
            <a href="/login-form" class="btn-nav">Войти</a>
            <a href="/register-form" class="btn-nav">Регистрация</a>
            {{endif}}
        </div>
    </header>

    <main>
        <h1>Добро пожаловать в Офис-менеджер</h1>
        <a href="/departments" class="main-button">Перейти к списку отделов</a>
    </main>

    <footer>
        <div class="footer-content">
            <p>© 2025 Офис-менеджер. Все права защищены.</p>
            <p>Контакты: info@office-manager.by | +375 (33) 123-45-67</p>
            <p>
                <a href="/admin" class="admin-link">Панель администратора</a>
            </p>
        </div>
    </footer>
</div>
</body>
</html>